.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.max-w-500 {
  max-width: 500px;
}

.center {
  display: flex;
  justify-content: center;
}

.green {
  color: #10b981;
}

.red {
  color: #f43f5e;
}

.blue {
  color: #3b82f6;
}
